/* ---------------------------------------- */
/* P R E L O A D E R    S T Y L E S         */
/* ---------------------------------------- */
.loaded #loading {
  display: block;
}

#loading {
  position: fixed;
  display: none;
  background-color: #17607d;
  height: 100%;
  width: 100%;
  margin-top: 0px;
  top: 0px;
  z-index: 9999;
}

#loading-center {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.object {
  -webkit-border-radius: 50% 50% 50% 50%;
          border-radius: 50% 50% 50% 50%;
  position: absolute;
  border-top: 5px solid #fff;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
  border-right: 5px solid transparent;
  -webkit-animation: animate 2s infinite;
          animation: animate 2s infinite;
}

#object_one {
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
}

#object_two {
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#object_three {
  left: 55px;
  top: 55px;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#object_four {
  left: 45px;
  top: 45px;
  width: 110px;
  height: 110px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes animate {
  50% {
    -webkit-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
  }
}

@keyframes animate {
  50% {
    -webkit-transform: rotate(360deg) scale(0.8);
            transform: rotate(360deg) scale(0.8);
  }
}

/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic--arrow:before {
  width: 56px;
  height: 230px;
  background: url(../img/sprite.png) 0px 0px no-repeat;
}

.ic--arrow_success:before {
  width: 112px;
  height: 73px;
  background: url(../img/sprite.png) -66px 0px no-repeat;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.no-flexbox body {
  display: table;
  width: 100%;
}

.no-flexbox .wrapper {
  display: table-row;
  height: 100%;
}

.text-danger {
  color: #e74c3c;
  text-align: left;
}

.modal {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.button {
  background-color: #89bb4d;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 15px;
  font: 700 15px/16px sans-serif;
  text-transform: uppercase;
  margin: 25px 0 15px;
  white-space: normal;
}

.button--size {
  width: 100%;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
.navbar {
  padding: 25px 0;
  -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 8px rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}

.navbar__col {
  text-align: center;
}

.logo {
  display: inline-block;
}

.address {
  display: inline-block;
  text-align: left;
}

.address__text {
  display: table-cell;
  color: #343131;
  font: 600 20px/22px "MyriadPro", sans-serif;
}

.address__icon {
  font-size: 30px;
  vertical-align: middle;
  display: table-cell;
  padding-right: 10px;
}

.header {
  background: url(../img/mainbg.jpg) center;
  background-size: cover;
}

.header__form {
  padding: 63px 0 30px;
}

.form__heading {
  position: relative;
  text-align: center;
  color: #343131;
  font: 400 20px/24px "MyriadProBold", sans-serif;
  text-transform: uppercase;
  margin: 0 0 35px;
}

.form__heading .ic {
  position: absolute;
  right: -20px;
  top: 30px;
}

.form__subheading {
  text-align: center;
  color: #343131;
  font: 400 20px/24px "MyriadPro", sans-serif;
  margin-bottom: 35px;
}

.form-group {
  position: relative;
}

.form-group .fa {
  position: absolute;
  top: 16px;
  left: 30px;
  font-size: 18px;
}

.form__input {
  border: 1px solid black;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  padding: 15px 0 15px 45px;
  background-color: transparent;
  color: #000;
}

.form__input:-ms-input-placeholder {
  color: #000;
}

.form__input::-moz-placeholder {
  color: #000;
}

.form__input::-webkit-input-placeholder {
  color: #000;
}

.form__input::placeholder {
  color: #000;
}

.contact__number {
  color: #343131;
  font: 400 24px/48px "MyriadPro", sans-serif;
}

.contact__icon {
  margin-right: 10px;
}

.video {
  height: 160px;
  margin-top: 50px;
}

.video__iframe {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 760px) {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .header {
    padding-top: 107px;
    height: 100vh;
  }
  .form__heading, .form__subheading {
    padding: 0 30px;
  }
  .video {
    position: relative;
    margin-top: 100px;
    height: 280px;
  }
  .video__iframe {
    position: relative;
    z-index: 25;
    padding: 0 25px;
  }
  .video__corner {
    display: block;
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: absolute;
  }
  .video__corner--1 {
    top: -20px;
    left: 5px;
    border-left: 4px solid rgba(0, 0, 0, 0.8);
    border-top: 4px solid rgba(0, 0, 0, 0.8);
  }
  .video__corner--2 {
    top: -20px;
    right: 5px;
    border-right: 4px solid rgba(0, 0, 0, 0.8);
    border-top: 4px solid rgba(0, 0, 0, 0.8);
  }
  .video__corner--3 {
    bottom: -20px;
    left: 5px;
    border-left: 4px solid rgba(0, 0, 0, 0.8);
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  }
  .video__corner--4 {
    bottom: -20px;
    right: 5px;
    border-right: 4px solid rgba(0, 0, 0, 0.8);
    border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  }
}

@media only screen and (min-width: 992px) {
  .header {
    height: 100vh;
    padding-top: 98px;
  }
  .header__col {
    background: url(../img/formbg.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .form__heading, .form__subheading {
    padding: 0 45px;
  }
}

/* ---------------------------------------- */
/* S U C C E S S    P A G E    S T Y L E    */
/* ---------------------------------------- */
.content {
  padding: 100px 0;
  background: url(../img/mainbg.jpg) center;
  background-size: cover;
}

.content__bg {
  background: url(../img/contentbg.png) center;
  background-size: cover;
  height: 100%;
}

.content__heading {
  font: 400 26px/34px "MyriadPro", sans-serif;
  margin: 0 0 20px;
}

.content__subheading {
  font: 400 18px/24px "MyriadPro", sans-serif;
  margin-bottom: 20px;
  position: relative;
}

.content__subheading .ic {
  position: absolute;
  bottom: -60px;
  right: -10px;
}

.content__link {
  display: inline-block;
  height: 48px;
  width: 48px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #3f51b5;
  color: #fff;
  line-height: 54px;
  text-align: center;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.content__link:hover, .content__link:focus {
  opacity: 1;
  color: #fff;
}

.content__link .fa {
  font-size: 26px;
}

@media only screen and (min-width: 760px) {
  .content {
    height: 100vh;
    padding: 107px 0 0;
  }
}

@media only screen and (min-width: 992px) {
  .content__heading {
    padding-top: 25px;
    font: 400 30px/48px "MyriadPro", sans-serif;
    margin-bottom: 35px;
  }
  .content__subheading {
    font: 400 24px/30px "MyriadPro", sans-serif;
  }
}
